body {

  background-image: url("https://images.unsplash.com/photo-1604009506606-fd4989d50e6d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGZvcmVzdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");  
}
img {

    position: absolute;
    left:100px;
    top:150px;
}